/*
  D E M O    C S S    A W E S O M E 
*/

#DEMO div {
  -webkit-border-radius: 8px; border-radius: 8px; border: 2px solid #bbb; padding: 4px 4px;
  background-image: -webkit-gradient(
    linear,
    right bottom,
    left top,
    color-stop(0.39, #E8E8E8),
    color-stop(0.84, #FFFFFF)
  );
  background-image: -o-linear-gradient(left top, #E8E8E8 39%, #FFFFFF 84%);
  background-image: -moz-linear-gradient(left top, #E8E8E8 39%, #FFFFFF 84%);
  background-image: -webkit-linear-gradient(left top, #E8E8E8 39%, #FFFFFF 84%);
  background-image: -ms-linear-gradient(left top, #E8E8E8 39%, #FFFFFF 84%);
  background-image: linear-gradient(to left top, #E8E8E8 39%, #FFFFFF 84%);
  float: left;
}

#demo_form {
  float: left;
}

#demo_results {
  /*float: left; */
  display: none;
  text-align: center;
  overflow: hidden;
}

.engine_search {
   float: left;
   possition: relative;
   -webkit-border-radius: 6px; border-radius: 6px; border: 2px solid #888; padding: 6px 3px;
   background-color: white;
}

.search_items{
   text-align:left;
   text-decoration: none;
}

.search_items ul {
   list-style-type: none;  
}

#results_data {
   -webkit-border-radius: 6px; 
   border-radius: 6px; 
   border: 2px solid #bdc1d9; 
   padding: 2px;
background-image: -webkit-gradient(
	linear,
	right bottom,
	left top,
	color-stop(0.18, #BDC1D9),
	color-stop(1, #F1F2D9)
);
background-image: -o-linear-gradient(left top, #BDC1D9 18%, #F1F2D9 100%);
background-image: -moz-linear-gradient(left top, #BDC1D9 18%, #F1F2D9 100%);
background-image: -webkit-linear-gradient(left top, #BDC1D9 18%, #F1F2D9 100%);
background-image: -ms-linear-gradient(left top, #BDC1D9 18%, #F1F2D9 100%);
background-image: linear-gradient(to left top, #BDC1D9 18%, #F1F2D9 100%);
   clear: left;
   display: none;
   possition: relative;
}
.provider_block {
   width: auto;
   background-color: white;
   -webkit-border-radius: 6px; 
   border-radius: 6px; 
   border: 1px solid #888; 
   padding: 2px;
   margin: 2px 0px;
}
.provider_title {
   padding-bottom: 2px;
}
.provider_title a:hover {
   color: #856314;
} 
.inloc {
   font-size: .9em;
   font-style: italic;
}
.services_block {
   /* float: left; */
   margin-left: 4px;
   font-size: .8em; // a little shrinkage
   -webkit-border-radius: 4px; border-radius: 4px; border: 1px solid #bbb; padding: 2px;
   display: inline-block;
}
.services_table td {
   color: #aaa;
   font-style: italic;
}
td.active {
   color: #333;
   font-style: normal;
   font-weight: bold;
}
.ratings_block {
   /* float: left; */
   -webkit-border-radius: 4px; border-radius: 4px; border: 1px solid #bbb; padding: 2px;
   margin-left: 4px;
   font-size: .8em; // a little shrinkage
   padding: 2px;
}
.rating {
   padding: 0px 0px 3px 0px;
}
.stars {
   color: #dba629;
}


.boldish {
   text-decoration: underline;
   font-weight: bold;
}
