.state_title img { width: 20px; height: 13px; }

/* R O W   1 */
#flag_1 { background: url("/igx/sprite.us.png") -2px -1px; }
#flag_2 { background: url("/igx/sprite.us.png") -27px -1px; }
#flag_3 { background: url("/igx/sprite.us.png") -53px -1px; }
#flag_4 { background: url("/igx/sprite.us.png") -79px -1px; }
#flag_5 { background: url("/igx/sprite.us.png") -104px -1px; }

/* R O W   2 */
#flag_6 {
   background: url("/igx/sprite.us.png") -2px -19px;
}
#flag_7 {
   background: url("/igx/sprite.us.png") -27px -19px;
}
#flag_8 {
   background: url("/igx/sprite.us.png") -53px -19px;
}
#flag_9 {
   background: url("/igx/sprite.us.png") -79px -19px;
}
#flag_10 {
   background: url("/igx/sprite.us.png") -104px -19px;
}

/* R O W   3 */
#flag_11 {
   background: url("/igx/sprite.us.png") -2px -35px;
}
#flag_12 {
   background: url("/igx/sprite.us.png") -27px -35px;
}
#flag_13 {
   background: url("/igx/sprite.us.png") -53px -35px;
}
#flag_14 {
   background: url("/igx/sprite.us.png") -79px -35px;
}
#flag_15 {
   background: url("/igx/sprite.us.png") -104px -35px;
}

/* R O W   4 */
#flag_16 {
   background: url("/igx/sprite.us.png") -2px -52px;
}
#flag_17 {
   background: url("/igx/sprite.us.png") -27px -52px;
}
#flag_18 {
   background: url("/igx/sprite.us.png") -53px -52px;
}
#flag_19 {
   background: url("/igx/sprite.us.png") -79px -52px;
}
#flag_20 {
   background: url("/igx/sprite.us.png") -104px -52px;
}

/* R O W   5 */
#flag_21 {
   background: url("/igx/sprite.us.png") -2px -70px;
}
#flag_22 {
   background: url("/igx/sprite.us.png") -27px -70px;
}
#flag_23 {
   background: url("/igx/sprite.us.png") -53px -70px;
}
#flag_24 {
   background: url("/igx/sprite.us.png") -79px -70px;
}
#flag_25 {
   background: url("/igx/sprite.us.png") -104px -70px;
}

/* R O W   6 */
#flag_26 {
   background: url("/igx/sprite.us.png") -2px -85px;
}
#flag_27 {
   background: url("/igx/sprite.us.png") -27px -85px;
}
#flag_28 {
   background: url("/igx/sprite.us.png") -53px -85px;
}
#flag_29 {
   background: url("/igx/sprite.us.png") -79px -85px;
}
#flag_30 {
   background: url("/igx/sprite.us.png") -104px -85px;
}

/* R O W   7 */
#flag_31 {
   background: url("/igx/sprite.us.png") -2px -102px;
}
#flag_32 {
   background: url("/igx/sprite.us.png") -27px -102px;
}
#flag_33 {
   background: url("/igx/sprite.us.png") -53px -102px;
}
#flag_34 {
   background: url("/igx/sprite.us.png") -79px -102px;
}
#flag_35 {
   background: url("/igx/sprite.us.png") -104px -102px;
}

/* R O W   8 */
#flag_36 {
   background: url("/igx/sprite.us.png") -2px -119px;
}
#flag_37 {
   background: url("/igx/sprite.us.png") -27px -119px;
}
#flag_38 {
   background: url("/igx/sprite.us.png") -53px -119px;
}
#flag_39 {
   background: url("/igx/sprite.us.png") -79px -119px;
}
#flag_40 {
   background: url("/igx/sprite.us.png") -104px -119px;
}

/* R O W   9 */
#flag_41 {
   background: url("/igx/sprite.us.png") -2px -135px;
}
#flag_42 {
   background: url("/igx/sprite.us.png") -27px -135px;
}
#flag_43 {
   background: url("/igx/sprite.us.png") -53px -135px;
}
#flag_44 {
   background: url("/igx/sprite.us.png") -79px -135px;
}
#flag_45 {
   background: url("/igx/sprite.us.png") -104px -135px;
}

/* R O W   10 */
#flag_46 {
   background: url("/igx/sprite.us.png") -2px -152px;
}
#flag_47 {
   background: url("/igx/sprite.us.png") -27px -152px;
}
#flag_48 {
   background: url("/igx/sprite.us.png") -53px -152px;
}
#flag_49 {
   background: url("/igx/sprite.us.png") -79px -152px;
}
#flag_50 {
   background: url("/igx/sprite.us.png") -104px -152px;
}

/* R O W   11 */
#flag_51 {
   background: url("/igx/sprite.us.png") -27px -168px;
}


